{% if tag == 'k-node1' %}
TYPE=Ethernet
BOOTPROTO=none
DEFROUTE=yes
PEERDNS=yes
PEERROUTES=yes
IPV4_FAILURE_FATAL=yes
IPV6INIT=no
NAME=eth0
DEVICE=ens192
ONBOOT=yes
IPADDR="192.168.1.136"
PREFIX="24"
GATEWAY="192.168.1.1"
DNS1="114.114.114.114"
{% endif %}

{% if tag == 'k-node2' %}
TYPE=Ethernet
BOOTPROTO=none
DEFROUTE=yes
PEERDNS=yes
PEERROUTES=yes
IPV4_FAILURE_FATAL=yes
IPV6INIT=no
NAME=eth0
DEVICE=ens192
ONBOOT=yes
IPADDR="192.168.1.137"
PREFIX="24"
GATEWAY="192.168.1.1"
DNS1="114.114.114.114"
{% endif %}